.container > div {
  max-height: 65vh;

  @apply flex items-center justify-center mobile:flex-col gap-[400px];
}

.container::-webkit-scrollbar {
  diplay: none;
  background: transparent;
  width: 0;
}
